body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000112;
  margin: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  width: 800px;
  overflow: scroll;
}

p {
  font-size: 40px;
}
